{% extends "home/base.html" %}
{% block title %}{{ match.h_title }} - {{ match.a_title }}{% endblock %}
{% block content %}
    {{ match }}
    <div>
        {{ plot_div | safe }}
    </div>
    <div>
        <h1>Składy</h1>
        <div class="container">
            <div class="rosters_home">
                {% for player in rosters_home %}
                    <a href="{{ player.get_absolute_url }}">
                        <h2>{{ player }}</h2>
                    </a>
                {% endfor %}
            </div>
            <div class="rosters_away">
                {% for player in rosters_away %}
                    <a href="{{ player.get_absolute_url }}">
                        <h2>{{ player }}</h2>
                    </a>
                {% endfor %}
            </div>
        </div>

    </div>

{% endblock %}