{% extends "home/base.html" %}
{% block title %}Statystyki w piłce nożnej{% endblock %}

{#{% block sidebar %}#}
{#    {% for one_league in all_leagues %}#}
{#        <ul><a href="{{ one_league.get_absolute_url }}">{{ one_league }}</a></ul>#}
{#    {% endfor %}#}
{#{% endblock %}#}

{% block content %}
    {% if league %}
        <h1>{{ league }}</h1>
    {% else %}
        <h1>Ostatnie mecze</h1>
    {% endif %}
    {% for match in matches %}
        <h2>
            <p class="date">{{ match.datetime|date:"G:i, j F Y" }}</p>
            <a href="{{ match.get_absolute_url }}"> {{ match.h_title }} {{ match.goals_h }}
                : {{ match.goals_a }} {{ match.a_title }} </a>
        </h2>
    {% endfor %}
    {% include "pagination.html" with page=matches %}
{% endblock %}
